<div class="card-container">
  <section class="hero">
    <div class="card">
      <h1>The easiest way to see changes</h1></br>
      <h3>
        Welcome to <b>Hourglass</b>, a GitHub enabled tool that re-imagines the way web developers
        visualize their version control workflow. <b>Hourglass</b> is a browser-based tool that makes it easy to
        visually compare multiple versions of working files before you commit. We designed it to
        seamlessly integrate into the development workflow for any static website, with plans to
        support dynamic websites soon.
      </h3>
      </br>
      </br>
      </br>
      <a href="#" class="button primary-button">Call to Action</a>
      </br>
      </br>
      <%= image_tag "ipad.png" %>
    </div>
  </section>
  <section class="">
    <div class="card row">
      <div class="half">
        <h1>It's simply the best</h1></br>
        <h3>
          This is one or two sentences about our product. Here is emphasis.
          This is one or two sentences about our product. Here is emphasis.
          This is one or two sentences about our product. Here is emphasis.
          This is one or two sentences about our product. Here is emphasis.
        </h3>
      </div>
      <div class="half">
        <%= image_tag "ipad.png" %>
      </div>
    </div>
  </section>
</div>

