@import 'variables';

* {
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: #444444;
  overflow: hidden;
  font-size: 16px;
}

ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #444444;
}

.flex {
  @include flex;
}

.wrapper {
  display: flex;
}

.content {

  padding: 1rem;
  width: 100%;
  flex: 1 1 auto;
  overflow: scroll;
}

.transition {
  transition: transform .2s ease-in-out,
  color .2s ease-in-out,
  background .2s ease-in-out;
}

.card {
  background: #FFFFFF;
  border: $thin-border;
  padding: 6rem;
  border-radius: $border-radius;
}

.card img {
  margin: 0 auto;
  display: block;
}

#files {
  background: $background-color;
}

.section-header {
  @include flex;

  padding: 0.8rem 1rem;
  background: #FFFFFF;
}

.list {
  padding: 1rem;
  background: #FFFFFF;
}

.list-item {
  position: relative;
  list-style-type: none;
  padding: .7rem 1rem;
}

.list-item .progress {
  display: block;
  flex: none;
}

.single-line {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.progress-bar {
  width: 100%;
}

.full-width {
  text-overflow: ellipsis;
  padding-right: .5rem;
  overflow: hidden;
}

small {
  font-size: 0.8em;
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
  padding-right: 1rem;
  max-width: 100%;
}

.light {
  color: #BBBBBB;
}

.light span {
  color: #AAAAAA;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}