* {
  box-sizing: border-box;
}
body {
  background: #F5F5F5;
}
.card {
  padding: 1rem;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
}

.content {
  width: 100%;
}

#repositories, #files {
  position: relative;
  width: 100%;
}

.repositories {
  position: relative;
}
.repositories h2 {
  text-align: center;
}

.sidebar-nav {
  display: block;
  padding: 1rem 1rem 0;
  cursor: pointer;
}

.repositories .repository {
  display: block;
  padding: .6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: .4rem;
  margin: 0 .5rem;
  cursor: pointer;
}

.repository span {
  width: calc(100% - 4.5rem);
  overflow: hidden;
  text-overflow: ellipsis;
}
.repositories .repository:nth-child(2n+1) {
  background: #F5F5F5;
}
.repositories .repository:hover {
  background: dodgerblue;
  color: #FFFFFF;
}
.repository .right {
  float: right;
}