[data-react-class="CompareBox"] {
  height: 100%;
}

.compare-view {
  border: $thin-border;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  .simple-view {
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .dual-view {
    width: 100%;
    height: 100%;
    iframe {
      height: 100%;
      width: 100%;

    }
    &.split {
      .left-iframe {
        height: 100%;
        width: 50%;
        display: inline-block;
      }

      .right-iframe {
        height: 100%;
        width: 50%;
        display: inline-block;
      }
    }
    &.slide {
      .left-iframe {
        height: 100%;
        z-index: 10;
        position: absolute;
        width: 50%;
        overflow: hidden;

        iframe {
          width: 200%;
        }
      }

      .right-iframe {
        height: 100%;
        position: relative;
        width: 100%;
      }
      .slider {
        z-index: 20;
        left: 50%;
        position: absolute;
        width: 3px;
        background-color: #444444;
        height: 100%;
        cursor: col-resize;
      }
    }
  }
}

iframe {
  border: none;
}
