@import 'variables';

[data-react-class="CompareBox"] {
  height: 100%;
}

.compare-view {
  border: $thin-border;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  .simple-view {
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .iframe-container {
    height: 100%;
  }
  .dual-view {
    width: 100%;
    height: 100%;
    display: flex;

    iframe {
      height: 100%;
      width: 100%;

    }

    .left-iframe {
      height: 100%;
      width: 50%;
    }

    .right-iframe {
      height: 100%;
      width: 50%;
    }

    &.split .left-iframe {
      iframe {
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    &.slide {
      float: right;
      .left-iframe {
        height: 100%;
        z-index: 10;
        overflow: hidden;
        flex: 0 0 50%;
      }

      .right-iframe {
        height: 100%;
        flex: 1 1 auto;

        iframe {
          float: right;
        }
      }
      .slider {
        z-index: 20;
        left: 50%;
        position: absolute;
        width: 4px;
        background-color: #444444;
        height: 100%;
        cursor: col-resize;
      }
    }
  }
}

iframe {
  border: none;
}

.revision-box {
  @extend .transition;
}

.drop-container {
  @extend .transition;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $background-color;
  &:hover, &.drag-hover {
    @extend .transition;
    transition: all .2s;
    background: $secondary-color;
  }
}



.revision-box:hover .drop-description {
  @extend .transition;

  transform: scale(1.2);
  color: white;
  border-color: white;
}

.drop-description {
  @extend .transition;

  font-size: 2rem;
  border: dashed 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: .5rem;
  color: #BBBBBB;
  max-width: 270px;
  text-align: center;
  pointer-events: none;
}
