.compare-view {
  position: relative;
  width: 100%;
  height: 100%;
  .simple-view {
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .dual-view {
    width: 100%;
    height: 100%;
    iframe.split {
      height: 100%;
      width: 50%;
    }
    iframe.slide {
      height: 100%;
      width: 100%;

    }
    &.slide {
      .left-iframe {
        height: 100%;
        z-index: 10;
        position: absolute;
        width: 50%;
        overflow: hidden;

        iframe {
          width: 200%;
        }
      }

      .right-iframe {
        height: 100%;
        position: relative;
        width: 100%;
      }
      .slider {
        z-index: 20;
        left: 50%;
        position: absolute;
        width: 1px;
        background-color: #000000;
        height: 100%;
      }
    }
  }
}

iframe {
  border: none;
}
