[data-react-class="CompareBox"] {
  height: 100%;
}

.compare-view {
  border: $thin-border;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  .simple-view {
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .dual-view {
    width: 100%;
    height: 100%;
    display: flex;

    iframe {
      height: 100%;
      width: 100%;

    }

    .left-iframe {
      height: 100%;
      width: 50%;
    }

    .right-iframe {
      height: 100%;
      width: 50%;
    }

    &.slide {
      .left-iframe {
        height: 100%;
        z-index: 10;
        position: absolute;
        width: 50%;
        overflow: hidden;
      }

      .right-iframe {
        height: 100%;
        position: relative;
        width: 100%;
      }
      .slider {
        z-index: 20;
        left: 50%;
        position: absolute;
        width: 4px;
        background-color: #444444;
        height: 100%;
        cursor: col-resize;
      }
    }
  }
}

iframe {
  border: none;
}

.revision-box {
  @extend .transition;

  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}

.drop-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.revision-box:hover {
  @extend .transition;

  transition: all .2s;
  background: rgba(0, 0, 0, 0.2);
  background: $secondary-color;
}

.revision-box:hover .drop-description {
  @extend .transition;

  transform: scale(1.2);
  color: white;
  border-color: white;
}

.drop-description {
  @extend .transition;

  font-size: 2rem;
  border: dashed 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: .5rem;
  color: #BBBBBB;
  max-width: 270px;
  text-align: center;
}
