.dropdown {
  display: none;
  position: absolute;
  top: 65%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  width: 230px;
  border-radius: .4rem;
  z-index: 1000;
}

.dropdown li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: inline-block;
  vertical-align: middle;
}

.dropdown li {
  padding: .7rem 1rem;
  display: block;
  position: relative;
  cursor: pointer;
}

.dropdown li:hover {
  background: #F5F5F5;
  color: #222222;
}

.dropdown li:hover .fa {

}
.dropdown li span {
  display: inline-block;
  vertical-align: middle;
}

.dropdown .fa {
  width: 2rem;
  color: #CCCCCC;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.7rem;
}
.dropdown:after, .dropdown:before {
  bottom: 100%;
  left: 75%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dropdown:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFFFFF;
  border-width: 15px;
  margin-left: -15px;
}
.dropdown:before {
  border-color: rgba(81, 94, 102, 0);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-width: 16px;
  margin-left: -16px;
}

.dropdown .dropdown-title {
  margin: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: .5rem;
}

.right {
  float: right;
  position: absolute;
  right: .5rem;
  top: .7rem;
}

.selectedView {
  background: #0ACDFF;
  color: #FFFFFF;
}

.selectedView .fa {
  color: #0ACDFF;
  color: #FFFFFF;
}