.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0%;
  background: #FFFFFF;
  border: $thin-border;
  width: 260px;
  border-radius: $border-radius;
  z-index: 1000;

  padding: 1rem;
}

.dropdown ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}
.dropdown li {
  @extend .flex;

  display: inline-block;
  vertical-align: middle;
}

.dropdown li {
  padding: .7rem 1rem;
  display: block;
  position: relative;
  cursor: pointer;
}

.dropdown li:hover {
  background: #F5F5F5;
  color: #222222;
}

.dropdown li span {
  display: inline-block;
  vertical-align: middle;
}

.dropdown .fa {
  color: #CCCCCC;
  display: inline-block;
  vertical-align: middle;
}
.dropdown:after, .dropdown:before {
  bottom: 100%;
  left: 75%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dropdown:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFFFFF;
  border-width: 15px;
  margin-left: -15px;
}
.dropdown:before {
  border-color: rgba(81, 94, 102, 0);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-width: 16px;
  margin-left: -16px;
}

.dropdown .dropdown-title {
  margin: 0 1rem;
  padding: .5rem;
}

.right {
  float: right;
  position: absolute;
  right: .5rem;
  top: .7rem;
}

.selectedView {
  background: $primary-color;
  color: #FFFFFF;
}

.selectedView .fa {
  color: #FFFFFF;
}

.dropdown .button {
  width: 100%;
  margin-bottom: .5rem;
}

.dropdown .button:last-child {
  margin: 0;
}