@import 'variables';

.field {
  @include flex;
}

.field input {
  width: 300px;
  border-radius: $border-radius;
  border: none;
  //border: $thin-border;
  padding: .5rem 1rem;
  outline: none;
  background-color: #F0F0F0;
  text-align: center;
  display: inline-block;
}

.select {
  @include flex;
}

.select span {
  margin: 0 .2rem;
  padding: .6rem .4rem;
  text-align: center;
  border-radius: 10rem;
  cursor: pointer;
  width: 2.7rem;
  height: 2.7rem;
}

.select span i {
  color: #FFFFFF;
}

.select span:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  transition: all .1s;
}

.select span:active {
  background: rgba(0, 0, 0, 0.2);
  transition: all .1s;
}

.select span.selected {
  background: #FFFFFF;
  color: $primary-color;
}

.select span.selected i {
  color: $primary-color;
}