@import 'variables';

header {
  @include flex;

  background: #FFFFFF;
  padding: 0rem .8rem;
  border-bottom: $thin-border;
  height: $header-height;
}

.header-right {
  position: relative;
  padding: .5rem;
  //width: 400px;
}

.header-right h3 {
  cursor: pointer;
}



header.alternate {
  background: $blue;
  color: #FFFFFF;

  h1 {
    color: #FFFFFF;
    font-weight: 400;
  }

  .field input {
    background: $dark-blue;
    font-size: 1.1rem;
  }
}

.select-compare-type {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

.username {
  display: inline-block;
  vertical-align: middle;
  padding: .5rem;
}

.username:hover + .dropdown {
  display: block;
}