header {
  @extend .flex;

  background: #FFFFFF;
  padding: 0rem .8rem;
  border-bottom: $thin-border;
  height: $header-height;
}

.header-right {
  position: relative;
  padding: .5rem;
}

.header-right h3 {
  cursor: pointer;
}

.header-right:hover .dropdown {
  display: block;
}

header.alternate {
  background: $blue;
  color: #FFFFFF;

  h1 {
    color: #FFFFFF;
    font-weight: 400;
  }

  .field input {
    background: $dark-blue;
    font-size: 1.1rem;
  }
}