header {
  background: #FFFFFF;
  padding: 0rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  position: relative;
  padding: .5rem;

}

.header-right h3 {
  cursor: pointer;
}

.header-right:hover .dropdown {
  display: block;
}