$sidebar-width: 330px;
$sidebar-hidden-width: 50px;

.sidebar-container {
  background-color: #EEEEEE;
  width: $sidebar-width;
  flex: 1 0 $sidebar-width;
  height: calc(100vh - 4.5rem);
  border-right: 1px solid rgba(0,0,0,0.1);
  position: relative;
  vertical-align: middle;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all .3s ease-out;
  transition-timing-function: cubic-bezier(0.795, 0.520, 0.070, 0.975);
  position: relative;
  left: $sidebar-hidden-width - $sidebar-width;
  z-index: 100;
}

.sidebar-container:hover {
  transform: translateX($sidebar-width - $sidebar-hidden-width);
  transition: all .3s ease-out;
  transition-timing-function: cubic-bezier(0.795, 0.520, 0.070, 0.975);
}

#content {
  width: calc(100% - ($sidebar-width - $sidebar-hidden-width));
  left: $sidebar-hidden-width - $sidebar-width;
  position: relative;
  flex: 1 0 auto;
}
.sidebar {
  display: flex;
  width: 200%;
  height: 100%;
  position: relative;
}

.sidebar .fa {
  color: #DDDDDD;
  padding: .3rem;
  border-radius: .5rem;
  cursor: pointer;
}
.all-repositories, .all-files {
  position: relative;
  height: 100%;
  width: 50%;
}

.sidebar-nav {
  display: block;
  padding: .7rem 1rem;
  background: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-nav .fa:hover {
  color: dodgerblue;
}
.sidebar #repository {
  width: 50%;
  flex: 1;
}
.sidebar ol {
  -webkit-padding-start: 0px;
  list-style-type: none;
}
.fa-angle-left {
  vertical-align: -7%;
  margin-right: .3rem;
}
.search-repositories {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 299px;
}
.search-repositories input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: .5rem .5rem;
  outline: none;
  background: #FFFFFF;
}