.sidebar-container {
  background-color: #EEE;
  background: #FFFFFF;
  width: 300px;
  height: calc(100vh - 4.5rem);
  border-right: 1px solid rgba(0,0,0,0.1);
  position: relative;
  vertical-align: middle;
  overflow-x: scroll;
  overflow-y: scroll;
}

.sidebar {
  display: flex;
  width: 200%;
}

.all-repositories {
  width: 50%;
}

.sidebar #repository {
  width: 50%;
  flex: 1;
}
.sidebar ol {
  -webkit-padding-start: 0px;
  list-style-type: none;
}
.sidebar ol li {
  padding: 1rem 1.5rem;
}
.fa-angle-left {
  vertical-align: -7%;
  margin-right: .3rem;
}
.fa-angle-right {
  margin-left: .6rem;
  color: #CCCCCC;
  vertical-align: middle;
}
.search-repositories {
  background: #00B7FF;
  position: fixed;
  bottom: 1px;
  left: 0;
  width: 100%;
}
.search-repositories input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: .5rem .5rem;
  outline: none;
  background: #FAFAFA;
}