

.sidebar-container {
  background-color: $background-color;
  width: $sidebar-width;
  flex: 1 0 $sidebar-width;
  height: calc(100vh - #{$header-height});
  border-right: 1px solid rgba(0,0,0,0.1);
  position: relative;
  vertical-align: middle;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all .3s ease-out;
  transition-timing-function: cubic-bezier(0.795, 0.520, 0.070, 0.975);
  left: $sidebar-hidden-width - $sidebar-width;
  z-index: 100;
}

.sidebar-container:hover {
  transform: translateX($sidebar-width - $sidebar-hidden-width);
  transition: all .3s ease-out;
  transition-timing-function: cubic-bezier(0.795, 0.520, 0.070, 0.975);
}

.sidebar-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebar-content {
  overflow-y: scroll;
  flex: 1;
}
.content {
  width: calc(100% - (#{$sidebar-hidden-width}));
  left: $sidebar-hidden-width - $sidebar-width;
  position: relative;
  flex: 1 0 auto;
}

.no-sidebar {
  width: 100%;
  left: 0;
}
.sidebar {
  display: flex;
  width: 200%;
  height: 100%;
  position: relative;
}

.fa {
  color: #CCCCCC;
  padding: .3rem;
  border-radius: .5rem;
  cursor: pointer;
}

.sidebar .fa:hover {
  color: $primary-color;
}
.all-repositories, .all-files {
  position: relative;
  height: 100%;
  width: 50%;
}
.sidebar-nav {
  display: block;
  padding: .7rem 1rem;
  background: #FFFFFF;
  border-bottom: $thin-border;
}
.sidebar h2 {
  @extend .flex;
}
.sidebar #repository {
  width: 50%;
  flex: 1;
}
.sidebar ol {
  -webkit-padding-start: 0px;
  list-style-type: none;
}
.fa-angle-left {
  vertical-align: -7%;
  margin-right: .3rem;
}
.search-repositories {
}
.search-repositories input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-top: $thin-border;
  padding: .5rem .5rem;
  outline: none;
  background: #FFFFFF;
}