.thumbnail {
  overflow: hidden;
  margin: .8rem;
  border: $thin-border;
  border-radius: $border-radius;
  cursor: pointer;
}

.thumbnail:last-child {
  margin-bottom: .8rem;
}
.thumbnail img {
  width: 100%;
}
.scroll-container {
  width: 100%;
  max-height: 160px;
  overflow-y: scroll;
  overflow: hidden;
  border-bottom: $thin-border;
}
.thumbnail-title {
  @extend .text-overflow;

  font-size: .9rem;
  font-weight: 400;
  padding: .3rem .5rem .3rem;
  text-align: center;
  display: block;
  width: 100%;
  z-index: 5;
  background: #FFFFFF;
}

.revision-title {
  @extend .thumbnail-title;

  text-align: left;
}
.thumbnail:last-child {
  padding: 0;
}
