<header>
  <% if user_signed_in? %>
      <div class="header-left">
        <h1>Hourglass</h1>
      </div>
      <div class="header-middle">

      </div>
      <div class="header-right">
        <%= current_user.username %>
        <ul class="dropdown">
          <li>
            <span><i class="fa fa-power-off fa-lg"></i> Logout</span>
          </li>
          <li>
            <span><i class="fa fa-power-off fa-lg"></i> Logout</span>
          </li>
          <li>
            <span><i class="fa fa-power-off fa-lg"></i> Logout</span>
          </li>

        </ul>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </div>
  <% else %>
      <%= link_to 'Sign in with Github', user_omniauth_authorize_path(:github) %>
  <% end %>
</header>